<div class="row gy-4">
  {{ $paginator := .Paginate (.Data.Pages) -}}
    {{ range $paginator.Pages -}}
      <div class="col-lg-4 col-md-12">
        <div class="card h-100">
          <div class="card-header">{{ partial "main/blog-categories.html" . }}</div>
          {{- .Scratch.Set "fillImageCard" "600x400 Center" -}}
          {{ partial "content/card-image.html" . }}
          <div class="card-body">
            <h2 class="h4 card-title"><a class="stretched-link" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
            <p class="card-text">{{ .Params.description | safeHTML }}</p>
          </div>
          <div class="card-footer">{{ partial "main/blog-meta.html" . -}}</div>
        </div>
      </div>
    {{ end -}}
</div>
<div class="justify-content-center mt-5" style="display:flex">
  <div class="row justify-content-center" >
    <div class="col-md-10 col-lg-8">
      {{ $.Scratch.Set "paginator" true }}
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</div>
