
<!--Section: Content-->
<section>
  <div class="container-fluid bg-light py-5">
    <h2 class="display-6 fw-bold lh-1 text-center">My interests</h1>
    <p class="lead text-center">Click to view articles</p>
    {{ .Scratch.Set "size" "100%" }}
    {{ .Scratch.Set "color" "primary" }}
    {{ .Scratch.Set "class" "card-img-top" }}
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6">
      {{ range .Site.Taxonomies.categories.Alphabetical }}
        {{ if .Page.Params.icon }}
          {{ $.Scratch.Set "icon" (printf "kawaii/%s" .Page.Params.icon) }}
        {{ else }}
          {{ $.Scratch.Set "icon" "kawaii/010-notebook" }}
        {{ end }}
        <div class="col">
          <div class="card">
            {{ partial "content/icon.html" $ }}
            <div class="card-body text-center">
              <span class="h5 card-title"><a class="stretched-link" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></span>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
<!--Section: Content-->
