{{ define "main" }}
<style>
  #intro {
    height: 33vh;
    background-color: #f7caca;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23ec809e' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
  [data-dark-mode] #intro {
    height: 33vh;
    background-color: #ec809e;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23d2386c' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
</style>
<article>
  {{ .Scratch.Set "icon" "vendor/bootstrap/bookmarks-fill" }}
  {{ .Scratch.Set "size" "100" }}
  {{ .Scratch.Set "color" "primary" }}
  {{ .Scratch.Set "class" "d-block mx-auto" }}
  <div id="intro" class="px-4 py-5 text-center">
    {{ partial "content/icon.html" $ }}
    <h1 class="display-5 fw-bold">{{ .Title }}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{ .Description }}</p>
      {{ .Content }}
    </div>
  </div>
  {{ .Scratch.Set "size" "100" }}
  {{ .Scratch.Set "color" "primary" }}
  {{ .Scratch.Delete "class"}}
  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-4">
    {{ range .Data.Terms.Alphabetical }}
      {{ if .Page.Params.icon }}
        {{ $.Scratch.Set "icon" (printf "kawaii/%s" .Page.Params.icon) }}
      {{ else }}
        {{ $.Scratch.Set "icon" "vendor/bootstrap/briefcase" }}
      {{ end }}
      <div class="col">
        <a href="{{ .Page.Permalink }}" class="card text-center">
          <div class="card-header text-center">
            <span class="h5">{{ .Page.Title }}</span>
            <span class="badge text-bg-secondary mx-1">{{ .Count }}</span>
          </div>
          <div class="card-body">
            {{ partial "content/icon.html" $ }}
          </div>
        </a>
      </div>
    {{ end }}
  </div>
</article>
{{ end }}
