.gallery {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .gallery {
    column-count: 1;
    column-gap: 3px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .gallery {
    column-count: 2;
    column-gap: 3px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .gallery { /* Masonry container */
    column-count: 2;
    column-gap: 3px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .gallery {
    column-count: 3;
    column-gap: 0.2rem;
    width: 100%;
  }
}

/* Masonry bricks or child elements */
.gallery-item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 0.2rem;
  width: auto;
}

.pswp--custom-icon-colors {
  --pswp-icon-color: $rosely5;
  --pswp-icon-color-secondary: $rosely8;
}

.pswp__dynamic-caption--aside {
  max-width: 300px;
  padding: 20px 15px 20px 20px;
  margin-top: 70px;
}
.pswp__dynamic-caption--below {
  max-width: 700px;
  padding: 15px 0 0;
}
.pswp__dynamic-caption--mobile {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
}
