{{ $icon := .Scratch.Get "icon" }}
{{ $size := .Scratch.Get "size" }}
{{ $color := .Scratch.Get "color" }}
{{ $class := .Scratch.Get "class" }}
{{ $svg := resources.Get (printf "icons/%s.svg" $icon) }}
{{ $out := $svg.Content }}
{{ if $size }}
  {{ $out = replaceRE "width=\"[^\"]+\"" (printf "width=\"%s\"" $size) $out 1 }}
  {{ $out = replaceRE "height=\"[^\"]+\"" (printf "height=\"%s\"" $size) $out 1 }}
{{ end }}
{{ if $color }}
  {{ $out = replaceRE "class=\"" (printf "class=\"text-%s " $color) $out 1 }}
{{ end }}
{{ if $class }}
  {{ $out = replaceRE "class=\"" (printf "class=\"%s " $class) $out 1 }}
{{ end }}
{{ return safeHTML $out }}
