<!--Section: Content-->
<section>
  <div class="row">
    <div class="col-md-6 gx-5 mb-4">
      <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-bs-ripple-color="light">
        {{ $image := resources.Get "images/me/Mercure Centro (2).jpeg" }}
        <img src="{{ $image.RelPermalink }}" class="img-fluid" />
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </div>
    </div>

    <div class="col-md-6 gx-5 mb-4">
      <h4><strong>Welcome to my personal web site</strong></h4>
      <p class="text-muted">
        Hello world!
      </p>
      <p><strong>artist, consultant, cyclist, designer, musician, photographer, world traveller.</strong></p>
      <p class="text-muted">
        Here you can find various articles pertaining to my life and interests, as well as links to other websites created by me.
      </p>
    </div>
  </div>
</section>
<!--Section: Content-->
