<p><i><small>Please click on any photo to view full screen.</small></i></p>
<div id="gallery" class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
{{- range (.Page.Resources.Match (printf "%s*" (.Get "folder"))) }}
  {{ $thumbnail := .Resize "600x" }}
  {{ $title := path.Base .Title | strings.TrimSuffix ".jpeg" }}
  <figure itemscope itemtype="http://schema.org/ImageObject" class="image gallery-item">
  <a href="{{ .Permalink }}" itemprop="contentUrl" data-pswp-width="{{ .Width }}" data-pswp-height="{{ .Height }}">
    <img src="{{ $thumbnail.Permalink }}" itemprop="thumbnail" alt="{{ $title }}" class="galleryImage" />
    <span class="pswp-caption-content">
      {{ $title }}
      <span>{{ with .Exif.Tags.Model }} ({{ . }}){{ end }}</span>
    </span>
  </a>
  <figcaption itemprop="caption description" >
    {{ $title }}
  </figcaption>
  </figure>
{{ end }}
</div>
<script type="module">
{{ $lightbox := resources.Get "js/vendor/photoswipe/photoswipe-lightbox.esm.js" | minify -}}
{{ $photoswipe := resources.Get "js/vendor/photoswipe/photoswipe.esm.js" | minify -}}
{{ $pdcp := resources.Get "js/vendor/photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.esm.js" | minify -}}
import PhotoSwipeLightbox from '{{ $lightbox.RelPermalink }}';
import PhotoSwipeDynamicCaption from '{{ $pdcp.RelPermalink }}';

const lightbox = new PhotoSwipeLightbox({
  mainClass: 'pswp--custom-icon-colors',
  gallerySelector: '#gallery',
  childSelector: 'a',
  pswpModule: () => import('{{ $photoswipe.RelPermalink }}'),
  paddingFn: (viewportSize) => {
    return {
      top: 0, bottom: 30, left: 0, right: 0
    }
  },
});

const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
  captionContent: '.pswp-caption-content',
  type: 'below',
});

lightbox.init();
</script>
